html {
    font-size: 5rem;
}

* {
    color: dodgerblue;
}

h1 {
    font-size: 100%;
}

p {
    color: red !important;
    font-size: 50%;
}

main {
    color: burlywood;
}

.aqua {
    color: aqua;
}

.red {
    color: red;
}

#main {
    color: mediumaquamarine;
}

.fancy-p {
    color: burlywood;
}