html {
    font-size: 5rem;
    font-family: montserrat;
}

h1 {
    font-size: 100%;
}

p {
    font-size: 50%;
}

main {
    color: burlywood;
}

.aqua {
    color: aqua;
}

.red {
    color: red;
}

#main {
    color: mediumaquamarine;
}

.fancy-p {
    color: burlywood;
}

.noidea {
    font-size: 24px;
}

ul {
    color: red;
    font-weight: bold;
}

li::first-letter {
    font-size: 30px;
    color: blue;
}

.article {
    color: rgb(135, 113, 155);
    font-size: smaller;
    background-color: aquamarine;
}

button {
    all: unset;
    width: 60px;
    height: 20px;
    border-style: solid black;
    border-radius: 4px;
    box-shadow: 2px 2px saddlebrown;
    font-size: 12px;
    position: absolute;
    padding-left: 1px;
}